

.shadows
{
    background: url("http://statics.kay.com.vn/images/bg-shadows.png?v=1.1") repeat scroll 0 0 transparent;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 102;
}
.popup
{
    padding-top: 13px;
    position: absolute;
    z-index: 103;
}
.popup-bg
{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    min-height: 82px;
    width: 470px;
}
.popup-close
{
    background: url("http://statics.kay.com.vn/images/popup-close.png?v=1.1") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: -12px;
    top: 0;
    width: 25px;
}
.popup-title
{
    background: #EEEEEE;
    border-radius: 8px 8px 0 0;
    height: 73px;
    overflow: hidden;
    width: 100%;
}
.popup-title h2
{
    color: #333333;
    font-size: 233%;
    font-weight: 700;
    line-height: 34px;
    margin-top: 22px;
    padding-right: 27px;
    text-align: right;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.popup-title span
{
    margin: 15px;
    display: block;
    color: #333333;
    font-size: 233%;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.popup-form
{
    margin: 0 auto;
    padding-bottom: 16px;
    width: 420px;
}
.popup-form .text
{
    color: #666666;
    font-size: 100%;
    font-weight: 700;
    line-height: 15px;
    margin-top: 15px;
    text-transform: uppercase;
}
.popup-form h4.text
{
    color: #999999;
    font-size: 150%;
    line-height: 28px;
    text-transform: none;
}
.popup-form h4.text strong
{
    color: #000000;
}
.popup-form .text-note
{
    color: #000000;
    font-size: 108%;
    line-height: 32px;
    margin-top: 12px;
    text-align: center;
}
.popup-form .text-note a
{
    color: #18A68C;
    font-weight: 700;
    padding-left: 3px;
    text-decoration: underline;
}
.popup-form .input-text
{
    margin-top: 6px;
    position: relative;
}
.popup-form .input-text input
{
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
    color: #666666;
    font-family: arial;
    font-size: 125%;
    font-weight: 700;
    line-height: 18px;
    padding: 8px 6px 7px;
    width: 340px;
}
.popup-form label
{
    margin: 6px 0px;
    float: left;
    width: 150px;
}
.popup-form .input-text .placeholder
{
    color: #000000;
    font-size: 100%;
    left: 8px;
    line-height: 15px;
    position: absolute;
    top: 9px;
}
.popup-form .chk-text
{
    color: #666666;
    font-size: 100%;
    line-height: 15px;
    margin-top: 15px;
}
.popup-form .chk-text input
{
    height: 15px;
    margin-right: 4px;
    vertical-align: text-top;
}
.popup-form .text a
{
    color: #666666;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
    text-transform: none;
}
.popup-form .button
{
    margin-top: 29px;
    text-align: center;
}
.popup-form .button a
{
    background-image: url("http://statics.kay.com.vn/images/button.png?v=1.1");
    background-position: 0 -160px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 120%;
    height: 42px;
    line-height: 42px;
    margin: -9px 12px 0;
    position: relative;
    text-align: center;
    width: 110px;
}
.popup-form .button a:hover
{
    background-position: 0 -214px;
    top: -3px;
    text-decoration: none;
}
.popup-form .button a:active
{
    background-position: 0 -274px;
    height: 39px;
    margin-top: -6px;
}
.popup-form .button a.facebook
{
    background-image: url("http://statics.kay.com.vn/images/button.png?v=1.1");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inline-block;
    float: none;
    font-size: 118%;
    height: 42px;
    line-height: 42px;
    margin: 0 12px;
    position: relative;
    text-align: center;
    width: 190px;
}
.popup-form .button a.facebook:hover
{
    background-position: 0 -50px;
    top: -3px;
}
.popup-form .button a.facebook:active
{
    background-position: 0 -110px;
    top: 0;
}
.popup-form .text-error
{
    color: #FF0000;
    font-size: 100%;
    line-height: 15px;
    padding: 5px 0 0;
    text-align: left;
}
.popup-form .button .text-error
{
    text-align: center;
}
.popup-form .input-text.error input
{
    border: 1px solid #FF0000;
}
.popup-form .error .box-error
{
    background: url("http://statics.kay.com.vn/images/ico-error.png?v=1.1") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    position: absolute;
    right: 3px;
    top: 6px;
    width: 26px;
    z-index: 1;
}
.popup-form .input-text .tlp-error
{
    display: none;
}
.popup-form .error .tlp-error
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: none;
    font-size: 110%;
    line-height: 15px;
    padding: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30px;
    width: 120px;
}
.popup-form .error .box-error:hover .tlp-error
{
    display: block;
}
.popup-cart
{
    position: absolute;
    right: 0;
    top: 55px;
    width: 369px;
}
.popup-cart-bg
{
    background-color: #DFDFDF;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.popup-cart ul
{
    overflow: hidden;
}
.popup-cart li
{
    border-top: 1px dotted #CCCCCC;
    clear: left;
    float: none;
    margin-top: -1px;
    overflow: hidden;
    width: 100%;
}
.popup-cart li.none
{
    background-color: #FFFFFF;
}
.popup-cart-time
{
    background: url("http://statics.kay.com.vn/images/ico.png?v=1.1") no-repeat scroll 0 -790px transparent;
    color: #5C5656;
    font-size: 109%;
    font-style: italic;
    line-height: 30px;
    margin: 0 15px;
    padding-left: 16px;
}
.popup-cart-total
{
    color: #525050;
    font-size: 109%;
    font-weight: 700;
    line-height: 30px;
    margin: 0 15px;
    text-align: right;
}
.popup-cart-total span
{
    color: #211D1D;
    float: left;
    font-size: 92%;
    font-weight: 400;
}
.popup-cart-button
{
    margin: 0 15px;
    overflow: hidden;
    padding: 3px 0 6px;
}
.popup-cart-button .button
{
    background-image: url("http://statics.kay.com.vn/images/button.png?v=1.1");
    background-position: 0 -157px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: right;
    font-size: 133%;
    height: 42px;
    line-height: 42px;
    padding: 0;
    text-align: center;
    width: 110px;
}
.popup-cart-button .button:hover
{
    background-position: 0 -214px;
}
.popup-cart-button .button:active
{
    background-position: 0 -274px;
    height: 39px;
    margin-top: 3px;
}
.popup-cart-button .text
{
    background-image: none;
    color: #716F6F;
    font-size: 109%;
    font-weight: 400;
    height: auto;
    line-height: 42px;
    padding: 0;
    text-decoration: underline;
}
.popup-cart-list
{
    margin: -1px 15px 0;
}
.popup-cart-list li
{
    padding: 10px 0;
}
.popup-cart-list .product
{
    background-image: none;
    border: 1px solid #B4B4B4;
    float: left;
    height: auto;
    line-height: 0;
    margin-right: 9px;
    padding: 0;
}
.popup-cart-list p
{
    color: #333333;
    font-size: 109%;
    font-weight: 700;
    line-height: 41px;
    text-align: right;
}
.popup-cart-list p span
{
    color: #555555;
    display: inline-block;
    float: left;
    font-size: 93%;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-align: left;
    width: 184px;
}
.popup-cart-list p span i
{
    display: block;
    float: none;
    line-height: 20px;
}
.popup-cart-list p b
{
    float: right;
    font-size: 109%;
    font-weight: 700;
    padding-top: 12px;
    text-align: right;
}
.popup-login
{
    opacity: 0;
    position: absolute;
    right: 0;
    top: 55px;
    transition: all 0.3s linear 0s;
    width: 134px;
}
.popup-login-bg
{
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.popup-login ul
{
    margin-top: -1px;
    position: relative;
}
.popup-login li
{
    border-top: 1px dotted #CCCCCC;
    clear: left;
    float: none;
    margin-top: -1px;
    overflow: hidden;
}
.popup-login li a
{
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    font-family: robotoRegular,arial;
    font-size: 117%;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    width: 100%;
}
.popup-login li a:hover
{
    background-color: #DDDDDD;
    text-decoration: none;
}
.popup-form .text-note a.viaFB
{
    background: url("http://statics.kay.com.vn/images/facebook-login.gif?v=1.1") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 22px;
    margin-left: 6px;
    margin-top: 5px;
    vertical-align: top;
    width: 154px;
}
.popup-guide
{
    clear: left;
    float: left;
    width: 940px;
}
.popup-guide .popup-form
{
    background: url("http://statics.kay.com.vn/images/bg-guide.png?v=1.2") no-repeat scroll right 36px transparent;
    clear: left;
    float: left;
    margin-top: 20px;
    width: 920px;
}
.popup-form .text.bullet
{
    background: url("http://statics.kay.com.vn/images/bullet-guide.png") no-repeat scroll 0 0 transparent;
    padding-left: 36px;
}
.popup-guide .popup-form .text
{
    font-size: 150%;
    font-weight: 400;
    line-height: 26px;
    margin-left: 10px;
    text-transform: none;
}
.popup-form-left
{
    float: left;
    width: 450px;
}
.popup-img
{
    background: url("http://statics.kay.com.vn/images/hoantatdangki.png") no-repeat scroll 0 0 transparent;
    height: 183px;
    margin: 20px 0 20px 124px;
    width: 508px;
}
.popup-guide .popup-img .text
{
    clear: left;
    color: #FFFFFF;
    float: left;
    margin-top: 94px;
    text-align: center;
}
.popup-img .span-img
{
    display: block;
}
.popup-camp
{
    float: left;
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: 103;
}
.popup-camp-bg
{
    float: left;
    position: relative;
}
.popup-camp-close
{
    background: url("http://statics.kay.com.vn/images/popup-camp-close.png?v=1.2") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
}
.hidden
{
    display: none;
}
.popup-form p
{
    margin: 10px 0;
    line-height: 180%;
}
#logged_in
{
    margin: 23px 0 100px 43px;
    padding: 5px;
    width: 400px;
}
.popup-form li
{
    width: 20%;
}
.popup-form .img_product
{
    height: 140px;
}
